<h1>Invitations</h1>

<table class="table table-striped table-bordered w-50">
  <thead class="table-light">
    <tr>
      <th scope="col">Opponent</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
      <% opponent = find_first_opponent(invitation) %>
      <tr>
        <td><%= opponent.email %></td>
        <td>
          <%= button_to "Accept", {:controller => "battle", :action => "create", :invitation_id => invitation.id}, class: "btn btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to "Decline", "", class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>